.success{
    color: green;
}

.danger{
    color: red;
}
.warning{
    background-color: orange;
}

.default_spec{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
